@model PasswordRecoveryModel

@using Nop.Core.Domain
@inject StoreInformationSettings storeInformationSettings

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

<main class="login-pg">
    <div class="login-bg-area">
        <div class="login-box-area">
            <div class="logo-section">
                <a href="/">
                    <img src="/Themes/DefaultClean/Content/images/ARM_LogoV3-2.png" alt="logo" class="" />
                </a>
            </div>
            <div class="form-section">
                <h3>@T("Account.PasswordRecovery")</h3>
                <form asp-route="PasswordRecovery" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    
                    @if(!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                    {
                        <span class="text-msg-success">@Model.SuccessMessage</span>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                    {
                        <span class="text-msg-error">@Model.ErrorMessage @T("Account.Email.NotFound.RegisterHere")</span>
                    }

                    <div class="form-group">
                        <div class="icon-inputbox">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.70337 5.83333H26.2967C26.9363 5.83331 27.4883 5.8333 27.9452 5.86446C28.4261 5.89729 28.9072 5.96948 29.3827 6.16635C30.4545 6.61039 31.3063 7.4621 31.7503 8.53409C31.9471 9.0094 32.0193 9.49052 32.0523 9.97152C32.0833 10.4284 32.0833 10.9803 32.0833 11.62V23.38C32.0833 24.0196 32.0833 24.5716 32.0523 25.0285C32.0193 25.5095 31.9471 25.9906 31.7503 26.466C31.3063 27.5379 30.4545 28.3897 29.3827 28.8336C28.9072 29.0305 28.4261 29.1026 27.9452 29.1356C27.4883 29.1667 26.9363 29.1667 26.2967 29.1667H8.70335C8.06366 29.1667 7.51171 29.1667 7.05487 29.1356C6.57387 29.1026 6.09275 29.0305 5.61743 28.8336C4.54544 28.3897 3.69373 27.5379 3.2497 26.466C3.05282 25.9906 2.98063 25.5095 2.94781 25.0285C2.91664 24.5716 2.91666 24.0196 2.91667 23.38V11.62C2.91666 10.9803 2.91664 10.4284 2.94781 9.97152C2.98063 9.49052 3.05282 9.0094 3.2497 8.53409C3.69373 7.4621 4.54544 6.61039 5.61743 6.16635C6.09275 5.96948 6.57387 5.89729 7.05487 5.86446C7.51171 5.8333 8.06367 5.83331 8.70337 5.83333ZM6.29629 9.15508C6.82667 8.54895 7.74798 8.48753 8.35413 9.01789L16.5397 16.1802C17.0895 16.6613 17.9105 16.6613 18.4603 16.1802L26.6459 9.01789C27.252 8.48753 28.1734 8.54895 28.7037 9.15508C29.234 9.76122 29.1726 10.6825 28.5666 11.2129L20.3809 18.3753C18.7314 19.8186 16.2686 19.8186 14.6191 18.3753L6.43349 11.2129C5.82735 10.6825 5.76592 9.76122 6.29629 9.15508Z" fill="#77777A" />
                            </svg>
                            <input asp-for="Email" class="email" autofocus="autofocus" />
                        </div>
                        <span asp-validation-for="Email" p="Email"></span>
                    </div>
                    

                    <button type="submit" class="form-main-btn login-btn" name="send-email">@T("Account.PasswordRecovery.RecoverButton")</button>
                    <button type="button" class="form-main-btn login-btn" onclick="window.location.href='Login'">@T("Account.BackToLogin")</button>
                </form>
            </div>
            @if (!storeInformationSettings.HidePoweredByNopCommerce)
            {
                <div class="footer-powered-by" style="float: right;">
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Please find more info at https://www.nopcommerce.com/nopcommerce-copyright-removal-key*@
                    Powered by <a href="@(OfficialSite.Main)" target="_blank">nopCommerce</a>
                </div>
            }
        </div>
    </div>
</main>
<script>
    enforceLowerCase("#Email");
    $(document).ready(function () {
        $("#Email").attr('placeholder', 'Email');
    });
</script>
