@model QueuedEmailModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.System.QueuedEmails.EditQueuedEmailDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Queued emails");
}

<form asp-controller="QueuedEmail" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.System.QueuedEmails.EditQueuedEmailDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.System.QueuedEmails.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="requeue" class="btn btn-success">
                <i class="far fa-clone"></i>
                @T("Admin.System.QueuedEmails.Requeue")
            </button>
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="button" class="btn btn-primary" data-target="#Cancel-Confirmation-Popup" data-toggle="modal">
                <i class="fa fa-times" aria-hidden="true"></i>
                @T("Admin.Common.Cancel")
            </button>
            <span id="queuedEmail-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.QueuedEmailDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
    <div id="Cancel-Confirmation-Popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancel-confirmation-popup-title" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="cancel-confirmation-popup-title">@T("Admin.Common.Cancel")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                </div>
                <div class="form-horizontal">
                    <div class="modal-body">
                        @T("Admin.Common.Cancel.Confirmation.Popup.Text")
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-default" data-dismiss="modal" aria-label="Close">@T("Admin.Common.No")</span>
                        <a asp-action="List" class="btn btn-primary">@T("Admin.Common.Yes")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="queuedEmail-delete" />
