@model OrderModel
@using Nop.Core.Domain.Catalog
@using Nop.Services

@{
	var isDestinationInformationRequired = !Model.IsChildOrder && !Model.IsNewOrder;
}

<div class="card-body carrier-information">
	<div class="row">
		<div class="col-md-6">
			<div class="card h-100">
				<div class="card-body">
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.AddressType" asp-required="Model.ShippingAddressTypeRequired" />
						</div>
						<div class="input-name">
							<nop-select asp-for="ShippingAddress.AddressType" asp-items="Model.ShippingAddress.AvailableAddressType" class="form-select" />
							<span asp-validation-for="ShippingAddress.AddressType"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.Address1" asp-required="Model.ShippingAddress1Required" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Address1" html-attributes="@(new { placeholder = "Enter Address 1" })" />
							<span asp-validation-for="ShippingAddress.Address1"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.Address2" asp-required="Model.ShippingAddress2Required" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Address2" html-attributes="@(new { placeholder = "Enter Address 2" })" />
							<span asp-validation-for="ShippingAddress.Address2"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.City" asp-required="Model.ShippingCityRequired" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.City" html-attributes="@(new { placeholder = "Enter City" })" />
							<span asp-validation-for="ShippingAddress.City"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.StateProvinceId" asp-required="false" />
						</div>
						<div class="input-name">
							<nop-select asp-for="ShippingAddress.StateProvinceId" asp-items="Model.ShippingAddress.AvailableStates" class="form-select" />
							<span asp-validation-for="ShippingAddress.StateProvinceId"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.ZipPostalCode" asp-required="false" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.ZipPostalCode" />
							<span asp-validation-for="ShippingAddress.ZipPostalCode"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.Region" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Region" html-attributes="@(new { placeholder = "Enter Region / Province" })" />
							<span asp-validation-for="ShippingAddress.Region"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.CountryId" asp-required="Model.ShippingCountryIdRequired" />
						</div>
						<div class="input-name">
							<nop-select asp-for="ShippingAddress.CountryId" asp-items="Model.ShippingAddress.AvailableCountries" class="form-select" />
							<span asp-validation-for="ShippingAddress.CountryId"></span>
						</div>
					</div>
					
				</div>
			</div>
			
			
		</div>
		<div class="col-md-6">
			<div class="card h-100">
				<div class="card-body">
					<div class="custom-form-group custom-checkbox-ui">

						<div class="label-name">
							<nop-label asp-for="DeliverySameAsShipper" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="DeliverySameAsShipper" />
							<span asp-validation-for="DeliverySameAsShipper"></span>
						</div>
					</div>
					<script>
						$('#@Html.IdFor(model => model.DeliverySameAsShipper)').is(':checked');
					</script>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.PrimaryContact" asp-required="@(Model.ShippingContactNameRequired || isDestinationInformationRequired)" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.ContactName" html-attributes="@(new { placeholder = "Enter Primary Contact" })" />
							<span asp-validation-for="ShippingAddress.ContactName"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.SecondaryContactName" asp-required="Model.ShippingSecondaryContactNameRequired" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.SecondaryContactName" html-attributes="@(new { placeholder = "Enter Secondary Contact" })" />
							<span asp-validation-for="ShippingAddress.SecondaryContactName"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.PrimaryPhoneNumber" asp-required="@(Model.ShippingPhoneNumberRequired || isDestinationInformationRequired)" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.PhoneNumber" />
							<span asp-validation-for="ShippingAddress.PhoneNumber"></span>
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.SecondaryPhoneNumber" asp-required="Model.ShippingPhoneNumber2Required" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.PhoneNumber2" />
							<span asp-validation-for="ShippingAddress.PhoneNumber2"></span>
						</div>
					</div>
					<div class="custom-form-group" style="display:none;">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.MobileNumber" asp-required="Model.ShippingMobileNumberRequired" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.MobileNumber" />
							<span asp-validation-for="ShippingAddress.MobileNumber"></span>
						</div>
					</div>

						<div class="custom-form-group">
							<div class="label-name">
								<nop-label asp-for="ShippingAddress.PrimaryEmail" asp-required="Model.ShippingEmailRequired" />
							</div>
							<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Email" html-attributes="@(new { placeholder = "Enter Primary Email" })" />
								<span asp-validation-for="ShippingAddress.Email"></span>
							</div>
						</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="EstimatedDeliveryDate" asp-required="Model.EstimatedDeliveryDateRequired" />
						</div>
						<div class="input-name">
							<!-- Single date range picker -->
							<div class="custom-dateInput-view">
								<input type="text" id="DateRangePickerfororder1" class="form-control" placeholder="Select Delivery Spread" />
								<label for="DateRangePickerfororder1" class="custom-dateIcon-box"><i class='far fa-calendar-alt'></i></label>
							</div>
							<span asp-validation-for="EstimatedDeliveryDate"></span>

							<!-- Hidden inputs for storing the selected dates -->
							<input type="hidden" class="startdate" asp-for="EstimatedDeliveryDate" id="EstimatedDeliveryDate" value="@Model.EstimatedDeliveryDate" />
							<input type="hidden" class="enddate" asp-for="EstimatedDeliveryEndDate" id="EstimatedDeliveryEndDate" value="@Model.EstimatedDeliveryEndDate" />
						</div>
					</div>
					<div class="custom-form-group">
						<div class="label-name">
							<nop-label asp-for="ActualDeliveryDate" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ActualDeliveryDate" html-attributes="@(new { placeholder = "Enter Actual Delv Date" })" />
							<span asp-validation-for="ActualDeliveryDate"></span>
						</div>
					</div>
					<div class="custom-form-group" style="display:none;">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.Latitude" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Latitude" html-attributes="@(new { placeholder = "Enter Address" })" />
							<span asp-validation-for="ShippingAddress.Latitude"></span>
						</div>
					</div>
					<div class="custom-form-group" style="display:none;">
						<div class="label-name">
							<nop-label asp-for="ShippingAddress.Longitude" />
						</div>
						<div class="input-name">
							<nop-editor asp-for="ShippingAddress.Longitude" html-attributes="@(new { placeholder = "Enter Address2" })" />
							<span asp-validation-for="ShippingAddress.Longitude"></span>
						</div>
					</div>
					
				</div>
			</div>
			
			
		</div>

	</div>
</div>

<script>
	$("#ActualDeliveryDate").attr("placeholder", "Select Actual Delv date");

	commonPhoneNumber("#ShippingAddress_PhoneNumber,#ShippingAddress_PhoneNumber2,#ShippingAddress_MobileNumber");
	removeSpecialCharactersAndNumber("#ShippingAddress_ContactName, #ShippingAddress_SecondaryContactName", true);
	restrictToCityNameFormat("#ShippingAddress_City");
	enforceLowerCase("#ShippingAddress_Email");
	allowUniversalZip("#ShippingAddress_ZipPostalCode");

	function validateDestinationUsCountryStateAndZip() {
		const selectedCountryId = $("#@Html.IdFor(model => model.ShippingAddress.CountryId)").val();

		if (selectedCountryId == "@Model.USCountryId"){
			$("#@Html.IdFor(model => model.ShippingAddress.StateProvinceId)").closest('div.custom-form-group').find('.required').show();
			$("#@Html.IdFor(model => model.ShippingAddress.ZipPostalCode)").closest('div.custom-form-group').find('.required').show();
		}
		else {
			$("#@Html.IdFor(model => model.ShippingAddress.StateProvinceId)").closest('div.custom-form-group').find('.required').hide();
			$("#@Html.IdFor(model => model.ShippingAddress.ZipPostalCode)").closest('div.custom-form-group').find('.required').hide();
		}
	}

	$(function () {
		// validateDestinationUsCountryStateAndZip();
		prepareDateRangePicker('#DateRangePickerfororder1', '#EstimatedDeliveryDate', '#EstimatedDeliveryEndDate');

		syncActiveDatesBetweenCalendars("#ActualPickupDate","#ActualDeliveryDate");

		let spreadTimer = setInterval(function(){
			
			let destinationStartDate = $("#EstimatedDeliveryDate").val();
			let destinationEndDate = $("#EstimatedDeliveryEndDate").val();

			if (destinationStartDate && destinationEndDate){
				clearInterval(spreadTimer);
			}

			if (convertToNumber(originLat) != 0 &&
				convertToNumber(originLng) != 0 &&
				convertToNumber(destinationLat) != 0 &&
				convertToNumber(destinationLng) != 0)
			{
				setDeliverySpreadDate("@Url.Action("GetDistance", "LogisticsCommon")", "#DateRangePickerfororder1", "#DateRangePickerfororder");
				clearInterval(spreadTimer);
			}

		}, 125);

		$("#@Html.IdFor(m=>m.DeliverySameAsShipper)").change(function () {

			if ($(this).prop("checked")) {
				$("#@Html.IdFor(m => m.ShippingAddress.ContactName)").val($("#@Html.IdFor(m => m.PickupAddress.ContactName)").val());
				$("#@Html.IdFor(m => m.ShippingAddress.PhoneNumber)").val($("#@Html.IdFor(m => m.PickupAddress.PhoneNumber)").val());
				$("#@Html.IdFor(m => m.ShippingAddress.Email)").val($("#@Html.IdFor(m => m.PickupAddress.Email)").val());
			}
			else {
				$("#@Html.IdFor(m=>m.ShippingAddress.ContactName)").val("");
				$("#@Html.IdFor(m=>m.ShippingAddress.PhoneNumber)").val("");
				$("#@Html.IdFor(m=>m.ShippingAddress.Email)").val("");
			}
		})

		$("#@Html.IdFor(model => model.ShippingAddress.CountryId)").change(function () {
			var selectedItem = $(this).data("kendoDropDownList").value();
			var ddlStates = $("#@Html.IdFor(model => model.ShippingAddress.StateProvinceId)").data("kendoDropDownList");
			$.ajax({
				cache: false,
				type: "GET",
				url: "@(Url.Action("GetStatesByCountryId", "Country"))",
				data: {
					"countryId": selectedItem,
					"addSelectStateItem": "false"
				},
				success: function (data, textStatus, jqXHR) {
					var dataSource = ddlStates.dataSource;
					dataSource.data([]);
					$.each(data,
						function (id, option) {
							dataSource.add({
								text: option.name,
								value: option.id
							});
						});
					$("#ShippingAddress_StateProvinceId").data("kendoDropDownList").value(0);
					// validateDestinationUsCountryStateAndZip();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#statesAlert").click();
				}
			});
		});

		let destinationZipCode = $("#ShippingAddress_ZipPostalCode").val();
		if (destinationZipCode.length >= 5) {
			var postData = { zipCode: destinationZipCode };
			addAntiForgeryToken(postData);
			$.ajax({
				cache: false,
				type: "GET",
				url: "@(Url.Action("GetLocationInfoUsingGoogleAPI", "LogisticsCommon"))",
				data: postData,
				success: function (response) {
					destinationLat = response.latitude ?? 0;
					destinationLng = response.longitude ?? 0;
				},
				error: function (jqXHR, textStatus, errorThrown) {
				}
			});
		}
	});

	const destinationLocationDebounceFunc = debounce(destinationLocationFetchZipCodes, 500);

	function destinationLocationFetchZipCodes(field) {
		var zipCodeId = field.attr('id');
		var value = field.val();

		let previousPostalCode = previousZipCode[zipCodeId];

		if (previousPostalCode == value){
			return false;
		}

		previousZipCode[zipCodeId] = value;

		if (value.length === 5) {
			$("#"+ zipCodeId).prop('readonly', true);
			var postData = { zipCode: value };
			addAntiForgeryToken(postData);
			$.ajax({
				cache: false,
				type: "GET",
				url: "@(Url.Action("GetLocationInfoUsingGoogleAPI", "LogisticsCommon"))",
				data: postData,
				success: function (response) {
					$("#"+ zipCodeId).prop('readonly', false);

					if (response.country != $("#PickupAddress_CountryId").val()){

						$("#ShippingAddress_Latitude").val(0);
						$("#ShippingAddress_Longitude").val(0);
						destinationLat = 0;
						destinationLng = 0;

						return;
					}

					$("#ShippingAddress_City").val(response.city);
					// $("#ShippingAddress_CountryId").data("kendoDropDownList").value(response.country);
					$("#ShippingAddress_StateProvinceId").data("kendoDropDownList").value(response.state);
					$("#ShippingAddress_Latitude").val(response.latitude);
					$("#ShippingAddress_Longitude").val(response.longitude);
					destinationLat = response.latitude ?? 0;
					destinationLng = response.longitude ?? 0;

					setDeliverySpreadDate("@Url.Action("GetDistance", "LogisticsCommon")", "#DateRangePickerfororder1", "#DateRangePickerfororder", true);
					calculateEstimatePrice();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#"+ zipCodeId).prop('readonly', false);
				}
			});
		}
		else {
			$("#ShippingAddress_Latitude").val(0);
			$("#ShippingAddress_Longitude").val(0);
			destinationLat = 0;
			destinationLng = 0;
			setDeliverySpreadDate("@Url.Action("GetDistance", "LogisticsCommon")", "#DateRangePickerfororder1", "#DateRangePickerfororder", true);

			$("#"+ zipCodeId).prop('readonly', false);
		}
	}

	$("#ShippingAddress_ZipPostalCode").keyup(function () {
		destinationLocationDebounceFunc($(this));
	});
</script>