@model InvoiceSearchModel

<link href="\plugins\logistics.payments.square\content\styles.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="card detail-info-card d-card">
        <div class="card-header with-border clearfix">
            <div class="card-title">
                <svg class="LogoJewel svelte-14driwk" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 994.6 995.7" height="22">
                    <path fill="#090304" d="M828.4,0H166.2C74.4,0,0,74.4,0,166.2v662.2c0,91.8,74.4,166.2,166.2,166.2h662.2
        c91.8,0,166.2-74.4,166.2-166.2V166.2C994.6,74.4,920.2,0,828.4,0z M813.8,761.3c0,29-23.5,52.5-52.5,52.5h-528
        c-29,0-52.5-23.5-52.5-52.5v-528c0-29,23.5-52.5,52.5-52.5h528c29,0,52.5,23.5,52.5,52.5V761.3z M391.8,632.3
        c-16.7,0-30.1-13.5-30.1-30.2V391.3c0-16.7,13.4-30.3,30.1-30.3h211.1c16.6,0,30.1,13.5,30.1,30.3V602c0,16.7-13.5,30.2-30.1,30.2
        H391.8z" class="svelte-14driwk"></path>
                </svg>
                @T("ARM.Logistics.Payments.Square.Invoice.HistorySection")
            </div>
        </div>
        <div class="card-body">
            <div class="card card-default d-datatable m-0">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "square-invoice-grid",
                        UrlRead = new DataUrl("InvoiceHistory", "PaymentSquare", new RouteValueDictionary { [nameof(Model.OrderId)] = Model.OrderId }),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(InvoiceModel.CustomOrderNumber))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.CustomOrderNumber").Text,
                                Encode = false,
                                Width = "50px"
                            },
                            new ColumnProperty(nameof(InvoiceModel.Number))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.InvoiceNumber").Text,
                                Encode = false,
                                Width = "50px"
                            },
                            new ColumnProperty(nameof(InvoiceModel.Status))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.Status").Text,
                                Encode = false,
                                Render = new RenderCustom("renderSquareInvoiceStatus"),
                                Width = "75px",
                                ClassName = NopColumnClassDefaults.CenterAll,
                            },
                            new ColumnProperty(nameof(InvoiceModel.Amount))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.Amount").Text,
                                Encode = false,
                                Render = new RenderCustom("renderSquareInvoiceStatus"),
                                Width = "75px",
                                ClassName = NopColumnClassDefaults.CenterAll,
                            },
                            new ColumnProperty(nameof(InvoiceModel.LineItem))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.LineItem").Text,
                                Encode = false,
                                Width = "150px",
                            },
                            new ColumnProperty(nameof(InvoiceModel.Link))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.InvoiceLink").Text,
                                Encode = false,
                                Render = new RenderCustom("renderSquareInvoiceLink"),
                                Width = "150px"
                            },
                            new ColumnProperty(nameof(InvoiceModel.CreatedDate))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.CreatedDate").Text,
                                Encode = false,
                                Width = "50px"
                            },
                            new ColumnProperty(nameof(InvoiceModel.PaidDate))
                            {
                                Title = T("ARM.Logistics.Payments.Square.Invoice.Field.PaidDate").Text,
                                Encode = false,
                                Width = "50px"
                            }
                        }
                    })

                    <script>
                        function renderSquareInvoiceStatus(data, type, row, meta) {
                            var color;

                            switch (row.StatusId) {
                                case 20:
                                    color = 'yellow';
                                    break;
                                case 40:
                                case 50:
                                    color = 'green';
                                    break;
                                case 60:
                                case 70:
                                    color = 'blue';
                                    break;
                                case 80:
                                case 90:
                                    color = 'red';
                                    break;
                                default:
                                    color = 'white';
                                    break;
                            }

                            return '<span class="grid-report-item text-uppercase text-nowrap ' + color + '">' + data.replace('_', ' ') + '</span >';
                        }

                        function renderSquareInvoiceLink(data, type, row, meta) {

                            if (typeof data === "string" || (data !== null && data.length > 0)){
                                return `<span class="copy-square-invoice-link" data-invoiceLink="${data}"><i class="fas fa-solid fa-copy"></i> ${"@T("ARM.Logistics.Payments.Square.Invoice.Field.InvoiceLink.CopyLabel")"}</span >`;
                            }

                            return `<button type="button" class="btn btn-primary publish-invoice-btn" data-invoiceId="${row.InvoiceId}">${"@T("ARM.Logistics.Payments.Square.Invoice.Field.InvoiceLink.Publish")"}</button>`
                        }

                        $(document).on('click', '.copy-square-invoice-link', function() {

                            var text = $(this).attr("data-invoiceLink");
                            var tempInput = $('<input>');
                            $('body').append(tempInput);
                            tempInput.val(text).select();
                            document.execCommand('copy');
                            tempInput.remove();

                            toastr.success("@T("ARM.Logistics.Payments.Square.Invoice.Field.InvoiceLink.CopyLabel.Message")");
                        });

                        $(document).on('click', ".publish-invoice-btn", function(e){
                            e.preventDefault();

                            var postData = {
                                invoiceId: $(this).attr("data-invoiceId")
                            };

                            addAntiForgeryToken(postData);

                            $.post("@Url.Action("PublishInvoice", "PaymentSquare")", postData, function(response){
                                if (!response || !response.Message){
                                    return;
                                }

                                if (!response.Status){
                                    toastr.error(response.Message);
                                    return;
                                }

                                toastr.success(response.Message);
                                updateTable('#square-invoice-grid');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>