@model LogisticsQuoteModel

<div class="card card-primary card-outline">
	<div class="card-header with-border clearfix">
		<div class="card-title">
			<i class="far fa-newspaper"></i>
			@T("Admin.MailSendLog")
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="my-task">
				@T("Admin.LogisticsQuote.MailSendLog.NoData")
			</div>
		</div>
	</div>
	@* <div class="card-body">
		<div class="form-group row">
			<div class="col-md-12" style="overflow-x: auto;">
				<div class="mail-send-log">
					<table class="table table-hover table-bordered">
						<col />
						<col />
						<col />
						<col />
						<theard>
							<tr>
								<th>
									@T("Admin.LogisticsQuote.Quote.SentBy")
								</th>
								<th>
									@T("Admin.LogisticsQuote.Quote.SentTo")
								</th>
								<th>
									@T("Admin.LogisticsQuote.Quote.Subject")
								</th>
								<th>
									@T("Admin.LogisticsQuote.Quote.Date")
								</th>
							</tr>
						</theard>
						<tbody>
							<tr>
								<td>
								</td>
								<td>
								</td>
								<td>
								</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> *@
</div>