@model Nop.Web.Areas.Admin.Models.LogisticsLeads.LogisticsLeadModel
@using Nop.Core.Domain.Catalog
@using Nop.Services

<div class="card-body carrier-information" id="vehicles">
    <div class="custom-form-group">
        <div class="input-name">
            <button type="button" class="btn btn-primary" id="addNewVehicle">@T("Admin.Orders.VehicleInfo.AddNew")</button>
        </div>
    </div>
    @foreach (var vehicleInfo in Model.VehicleInfos)
    {
        @await Html.PartialAsync("_CreateOrUpdateLogisticsVehicleInfo", vehicleInfo)
    }
</div>
<script>
    var removedvehicles = 0;
    var vehicleCounter = @Model.VehicleInfos.Count;
    $(document).ready(function () {
        // Counter to keep track of the number of address fields
        for (let i = 0; i < vehicleCounter; i++) {
            var addName = 'VehicleInfos[' + i + ']';
            var addId = 'VehicleInfos' + i;
            $('#vehicle_' + i + ' [name]').each(function () {
                // Get the current name attribute value
                var currentName = $(this).attr('name');
                var currentId = $(this).attr('id');

                // Concatenate the custom string
                var newName = addName + "." + currentName;
                var newId = addId + "_" + currentId;
                // Set the new name attribute value
                $(this).attr('name', newName);
                $(this).attr('id', newId);
            });
        }

        // Add New button click event
        $('#addNewVehicle').click(function () {
            $.ajax({
                url: '@Url.Action("AddNewVehicle", "LogisticsLeads")', // Replace with your controller action
                data: { index: vehicleCounter },
                type: 'get',
                success: function (partialView) {
                    $('#vehicles').append(partialView);

                    var addName = 'VehicleInfos[' + vehicleCounter + ']';
                    var addId = 'VehicleInfos' + vehicleCounter;
                    $('#vehicle_' + vehicleCounter + ' [name]').each(function () {
                        // Get the current name attribute value
                        var currentName = $(this).attr('name');
                        var currentId = $(this).attr('id');

                        // Concatenate the custom string
                        var newName = addName + "." + currentName;
                        var newId = addId + "_" + currentId;
                        // Set the new name attribute value
                        $(this).attr('name', newName);
                        $(this).attr('id', newId);

                        if(currentName == "VehicleVINNumber"){
                            $(this).attr('onkeyup', "VinApiRequest('" + addId + "','" + newId + "')");
                        }

                        $("select#" + newId).kendoDropDownList({
                            filter: "contains",
                            filtering: function (e) {
                                var filter = e.filter;
                            }
                        });
                    });
                    vehicleCounter++;

                }
            });
        });
    });
    function RemoveVehicle(index) {
        if ($("#vehicles .VehicleInfoList").length == 1) {
            alert("@T("Admin.Orders.Fields.Vehicle.Message.Minimum")");
            return false;
        }

        var vehicleid = $('#VehicleInfos' + (index - 1) + '_Id').val();
        $.ajax({
            url: '@Url.Action("RemoveVehicle", "LogisticsLeads")', // Replace with your controller action
            data: { index: index, Id: vehicleid },
            type: 'get',
            success: function (partialView) {
                $('#vehicle_' + (index - 1)).remove();
                removedvehicles++;
                if (removedvehicles == vehicleCounter) {
                    vehicleCounter++;
                    removedvehicles++;
                }
                reIndexing();
            }
        });
    }

    function reIndexing() {
        vehicleCounter = 0;
        $("#vehicles .VehicleInfoList").each(function () {
            $(this).find('input, select, button').each(function () {
                var currentName = $(this).attr('name');
                var currentId = $(this).attr('id');
                var addId = 'VehicleInfos' + vehicleCounter;
                if (currentName != undefined) {
                    var newName = currentName.replace(/\[\d+\]/, "[" + vehicleCounter + "]");
                    $(this).attr('name', newName);
                }
                if (currentId != undefined) {
                    var replacedId = currentId.replace(/\d/g, vehicleCounter);
                    $(this).attr('id', replacedId);

                    if (replacedId == addId + "_VehicleVINNumber") {
                        $(this).attr('onkeyup', "VinApiRequest('" + addId + "','" + replacedId + "')");
                    }
                    
                    if (replacedId == "removeVehicleInfoBtn") {
                        var count = vehicleCounter + 1;
                        $(this).attr('onclick', 'RemoveVehicle(' + count + ')');
                    }
                    
                }
            });

            var counter = '@T("Admin.Orders.Fields.VehicleCount")';
            $(this).find(".counter").html(counter.replace("{0}", vehicleCounter + 1))
            $(this).attr("id", "vehicle_" + vehicleCounter)
            vehicleCounter++;
        })
    }
</script>

<script>
    function VinApiRequest(addId, newId) {
       
        if (($("#" + newId).val().length) == 17) {
            var txtVinNumber = $("#" + newId).val();
            var postData = { vinNumber: txtVinNumber };

            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("VehicleInfoUpdateUsingVINNumber", "LogisticsCommon"))",
                data: postData,
                success: function (response) {
                    
                    $("#" + addId + "_VehicleYear").val(response.VehicleModelYear);
                    $("#" + addId + "_Make").val(response.VehicleMake);
                    $("#" + addId + "_VehicleModel").val(response.VehicleModel);
                    $("#" + addId + "_VehicleType").data("kendoDropDownList").value(response.VehicleType);
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        }
        else {
            $("#" + addId + "_VehicleYear").val("");
            $("#" + addId + "_Make").val("");
            $("#" + addId + "_VehicleModel").val("");
            $("#" + addId + "_VehicleType").val("");

        }
    }
</script>

