@model Nop.Web.Areas.Admin.Models.LogisticsLeads.LogisticsVehicleInfoModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.PageTitle = T("Admin.LogisticsVehicleInfo.Edit").Text;
}

<form asp-controller="LogisticsLeads" asp-action="LogisticsVehicleInfoEditPopup"
      asp-route-leadId="@Context.Request.Query["leadId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header clearfix">
                <h1 class="float-left">
                    @T("Admin.LogisticsVehicleInfo.Edit")
                </h1>
                <div class="float-right">
                    <button type="submit" name="save" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        @T("Admin.Common.Save")
                    </button>
                </div>
            </div>
            @await Html.PartialAsync("_CreateOrUpdateLogisticsVehicleInfo", Model)
        </div>
    </section>
</form>